:root {
    --color-foreground: #eeeeee;
    --color-background: #08605f;
    --color-text: #111111;
    /* --color-link: #111177;
    --color-link-hover: #551155; */
}

html, body {
    background-color: var(--color-background);
    font: serif;
}

main {
    color: var(--color-text);
}

article {
    background-color: var(--color-foreground);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 6em;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

article > h1 {
    font: serif;
    font-size: 2.25em;
    text-align: center;
}

header {
    position: fixed;
    background-color: var(--color-foreground);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header > a {
    font-size: 2.15em;
    color: var(--color-text);
    margin: 0;
}

a:link, a:visited {
    color: var(--color-text);
}

a:hover, a:active {
    color: var(--color-text);
    text-decoration: none;
}

img.display {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    max-height: 75vh;
    width: calc(65% + 100px);
    object-fit: contain;
}

div.caption {
    font: caption;
    font-size: 1.35em;
    width: calc(65% + 100px);
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 1.15em;
    margin-top: 0.47em;
    margin-right: 0.2em;
}

nav > a:link, nav > a:visited {
    text-decoration: none !important;
}

nav > a:hover, nav > a:active {
    text-decoration: underline !important;
}

